doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title KAWS
    meta(name='Description', content='This is the official KAWS brand website located in Brooklyn , NY Kawsone.com')
    meta(name='Keywords', content='Kaws website, kaws, kaws toys, kaws products, kawsone')
    link(rel='shortcut icon', height='30px;', href='/img/favicon.png')
    meta(property='og:title', content='KAWS')
    meta(property='og:type', content='website')
    meta(property='og:url', content='/')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/vendor.css')

  body.products.product
    .mainPageContainer.row
      header
        a(href='/')
          img(src='/img/logo.png')
        a.show_cart
          | CART
          span#header_cart_total(style='opacity: .5; margin-left: 5px;') 0
        #cart_popout(style='display: none')
          i.fa.fa-remove
          .cart_content
          a.checkout-btn.button(href='/checkout/payment') Go to Checkout
      section.product.expand
        block content
      footer
        a#mailing(href='') Mailing List
        a#terms(href='') Terms
        a#faq(href='') FAQ
        a#track(href='') My Order
        // <a id='cart' href="">Cart</a>
      section.mailing.popup
        .overlay
          .off_overlay
          .overlay_content
            p Sign up to the mailing list:
            form
              input(type='email', name='email', placeholder='email')
              input.button(type='submit')
     
      section.terms.popup
        .overlay
          .off_overlay
          .overlay_content
            .overlay_text
              h1.overlay_head1 PINOCCHIO RANDOM DRAWING TERMS AND CONDITIONS
              p We are committed to giving fair access to customers seeking to purchase one of the editioned wood PINOCCHIO (“Figure”) available for sale at this time.
              p.overlay_head Using this site
              p
                | Please use a standards-compliant web browser. Javascript must be enabled to use this site. By using our website, you agree to the Terms of Use. We may change or update these terms so please check this page regularly. We do not represent or warrant that the information on our website is accurate, complete, or current. This includes pricing and availability information. We reserve the right to correct any errors or omissions, and to change or update the information at any time without prior notice.
              p.overlay_head Eligibility
              p
                | This drawing (“Drawing”) is open to US residents, who are at least 18 years of age, and are able to and desire to purchase the Figure outlined in these terms and located here, via credit card or electronic funds transfer, for a onetime payment of $8,000 US, plus tax (in New York and New Jersey), and shipping costs. Figure will be shipped only to US address. Employees of KAWS, its parents and subsidiaries, advertising and promotion agencies and all other entities participating in the design, promotion, marketing, advertising, administration or fulfillment of the Drawing and their immediate families are ineligible to participate in the Drawing. Void wherever prohibited. Winners of the drawing receive a 24 hour time frame to purchase the Figure.
              p.overlay_head How it works
              p
                | Winners of this Drawing will be given the option (“Option”) to purchase the Figure as outlined in these terms. There is no purchase required to enter the Drawing for the option to purchase one of the available Figures, but winners of the drawing must exercise their option to purchase their Figure within 24 hours of notification.
              p.overlay_head How to enter the option drawing
              p
                strong One entry per natural person. 
                | Beginning on April 25, 2018, at 12:00 pm (EDT) and ending on April 25, 2018 at 1:00 pm (EDT) (“Entry Period”), potential buyers, must go online at [http://kawsone.com] and provide the requisite information, including their first name, last name, phone number, email address, and shipping address. You may only enter one time during the Entry Period and incomplete entry forms will not constitute a valid entry. The odds of winning an Option depend upon the number of entries received.

              p.overlay_head Selection and notification of option winners
              p
                | On or about April 25, 2018, we will draw winning names randomly from among all otherwise eligible entries received (“Option Winners”). By April 27, 2018 at 12 PM, Option Winners will be provided a link to purchase the Figure at the email address they used to enter the drawing. In the event an Option Winner does not exercise his or her Option within 24 hours, the link will expire, the Option will be forfeited. We cannot extend deadlines for any reason. If an Option Winner does not timely exercise his or her option, the prize is forfeited. Options Winners may be required to provide additional information about themselves in order to fulfill the Figure order.

              p.overlay_head Conditions
              p
                | By participating, entrants to the Drawing agree to be bound by these terms and conditions and waive any right to claim ambiguity in the terms. This Drawing may be suspended or canceled in the event that we believe any fraud, technical failure or other factor beyond its control impair or will impair the integrity or proper functioning and fair play of the Drawing. KAWS reserves the right in its sole discretion to disqualify any individual who is found to be tampering with the Drawing process or the operation of the Drawing or to be acting in violation of these terms, or to be acting in an unsportsman-like or disruptive manner, or with the intent to disrupt or undermine the legitimate operation of the Drawing, including entering with multiple names. Winner may not transfer, sell, auction, or assign their Option. Options must be exercised in a timely manner, as determined by the internal computerized clock operated by KAWS. Options may only be mailed to the person whose name is listed in the entry form, sent to a US address, and whose information is connected to the email address used. In the event of a dispute as to the owner of the Option, KAWS will deem as the rightful owner the person in whose name the email address was opened.

              p.overlay_head Disputes
              p
                | Disputes regarding these terms will be governed by the internal laws of the State of New York.

              p.overlay_head Return policy
              p
                | All sales are final. We do not issue refunds, accept cancellations, or allow exchanges to be made.

              p.overlay_head Purchase for personal use only
              p
                | You may purchase products only for personal use and not for resale. By placing your order, you certify that you are purchasing products for personal use only and not for resale. We reserve the right to refuse orders for any reason without explanation.

              p.overlay_head Shipping
              p
                | We do not ship to P.O. Boxes. Shipping fees are calculated based on your shipping address and may include additional fees calculated on a per item basis and determined by order weight. Products may include an additional handling charge.
              p
                | We are not responsible for any lost, stolen, or damaged shipments. Customers are responsible for paying additional shipping and handling fees to have the order re-shipped, if available. The buyer assumes all responsibilities of claims made with the shipping carrier.
                
              p.overlay_head Sales tax
              p
                | Sales Tax is charged to those orders shipped within the states of New York and New Jersey.
                
              p.overlay_head Copyright & trademarks
              p
                | All content of our website including text, graphics, logos, buttons icons, images, and software, is property of KAWS Inc. and is protected by United States and international copyright laws. You may electronically copy and print hard copies of pages from this web site solely for personal, non-commercial purposes related to placing an order or shopping with kawsone.com. Any other use of our web site, including reproduction and internet links, is strictly prohibited without our prior written permission.

              p.overlay_head Secure processing
              p
                | KAWSONE.com uses secure processing called SSL Encryption Technology, which is the industry standard. SSL (Secure Sockets Layer) is a protocol developed for the transmission of private information over the internet. SSL uses a private key to encrypt your data, including your credit card information, so that it cannot be read while being transferred over the internet.

              p.overlay_head Privacy
              p
                | KAWSONE.com respects our customer’s account information as private and confidential information and will never share this with any outside affiliation or individuals. Your information is secured and encrypted with the Secure Socket Layer Software.
      section.faq.popup
        .overlay
          .off_overlay
          .overlay_content
            .overlay_text
              p.overlay_head1
                | F.A.Q.
              p.overlay_head I changed my mind. Can I get a refund or make an exchange for a new size/color?
              p
                | We do not accept returns for refunds, credits, or exchanges. All sales are final. Please make sure that you have carefully reviewed all information in your order prior to finalizing your purchase, including your billing and shipping address, e-mail and telephone number.
              p.overlay_head Can I track my order?
              p
                | All customers receive a shipping confirmation e-mail when their order ships, which includes the UPS tracking number. To track your package, go to the link below, enter your tracking number, and press the "track" button to get shipment details. 
                a(href='https://www.ups.com/WebTracking/track?loc=en_us') https://www.ups.com/WebTracking/track?loc=en_us
              p.overlay_head When will I receive my order?
              p
                | Please allow 5-7 business days for order processing and verification, and an additional 7-10 business days for delivery. We do not ship out on Saturdays or Sundays. If your order has not arrived within the aforementioned guidelines, please contact us and we will do our best to track your order for you.
              p.overlay_head What shipping carrier do you use?
              p We ship all orders via United Parcel Service.
              p.overlay_head Can I contact you directly with any questions?
              p
                | Please email shop@kawsone.com with any questions regarding your order. We will try our best to reply to your question(s) within 24-48 hours.
              p.overlay_head Do you accept check payments? Can I use PayPal?
              p
                | We do not accept payments by check, and PayPal is not presently supported on KAWSONE.com. We currently accept Visa or Mastercard payments only.
              p.overlay_head Why does my billing and shipping address have to match?
              p
                | We require that your billing and shipping address match as an additional step to prevent credit card fraud.
              p.overlay_head I do not live in the United States. Can I place an order?
              p
                | KAWSONE accepts orders from the United States and select International Countries list below: Australia Austria Belgium Canada China Czech Republic Denmark Finland France Germany Greece Hong Kong Hungary Iceland Ireland Israel Italy Japan Korea, South Luxembourg Netherlands New Zealand Norway Portugal Puerto Rico Singapore Spain Sweden Switzerland Taiwan Thailand United Kingdom
              p.overlay_head Can I order other items that are not offered on the web store?
              p
                | We are only offering a select group of items through the web shop at this time. Please add your e-mail to the mailing list to receive product release updates.
              p.overlay_head Do you sell wholesale?
              p We do not sell wholesale.
      
              
    section.track.popup
      .overlay
        .off_overlay
        .overlay_content
          .overlay_text
            h1.overlay_head1 Order Management
            p.overlay_head Enter the following information to See the progress of your orders
            form#orderDetail(action='/orders/order', method='post')
              input(type='text', name='ref_num', placeholder='Order #')
              label E-Mail Address
              input(type='email', name='email', placeholder='email')
              input.button(type='submit')
    .remodal-bg
      .remodal.remodal_form(data-remodal-id='modal_login')
        button.remodal-close(data-remodal-action='close')
        .modalContentWrapper
          #login-section
            form(method='post', action='/login')
              img.logo(src='/content/frontend/assets/img/logo_grey.png')
              .modal_formWrapper
                .inputRow
                  input(name='email', type='email', required='')
                  label Email Address
                .inputRow
                  input(name='password', type='password', required='')
                  label Password
              input(hidden='', name='redirect-url', value='/products/kaws-small-lie-black')
              button.remodal-confirm(type='submit') Login
            a#reset-password.forgot Forgot password?
          #reset-password-section(style='display: none')
            p#reset-password-message(style='color: #5cb85c;display: none') Please check your reset password email
            form(method='post', action='/reset/email')
              .modal_formWrapper
                .inputRow
                  input(name='email', type='email', required='')
                  label Email Address
              button.remodal-confirm(type='submit') Reset
            a#go-back-login.forgot Back to login
      .remodal.remodal_form(data-remodal-id='modal_signup')
        button.remodal-close(data-remodal-action='close')
        .modalContentWrapper
          form(method='post', action='/login/register')
            img.logo(src='/content/frontend/assets/img/logo_grey.png')
            .modal_formWrapper
              .inputRow
                input(name='first_name', type='text', required='')
                label First Name
              .inputRow
                input(name='last_name', type='text', required='')
                label Last Name
              .inputRow
                input(name='phone', type='number', required='')
                label Phone Number
              .inputRow
                input(name='email', type='email', required='')
                label Email Address
              .inputRow
                input(name='password', type='password', required='')
                label Password
              input(hidden='', name='redirect-url', value='/products/kaws-small-lie-black')
            button.remodal-confirm(type='submit') Create Account
            
    | !{`<!-- v${version} -->`}
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='/js/app.js')
    //- Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-116287744-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116287744-1');

    //- CART FUNCTIONALITY 
    script(type='text/javascript').
      $(document).ready(function(){
        $('.show_cart').click(function () {
          //- $.post('/cart/updateCart',{dropdown:true},function (data) {
            if(true){
            //- $('#cart_popout .cart_content').html(data.cartHtml).parent().show();

            //- ======== REFER BACK TO PHP VERSION TO SEE IF STATEMENTS =======
              $('#cart_popout .cart_content').html('<div class="header_cart_prod" data-quantity="1" data-prod_slug="product-slug"><div class="content"><div class="left_float"><img src="/img/kaws_wood.jpg"/></div><div class="cart_text"><p class="name">Product name</p><p class="price">299.99 USD &#36;</p></div></div><div class="cartUpdate" data-cart_id="cart_id" data-quantity="cart_qunatity"><button class="button" type="button" data-operation="inc" data-quantity="data_quantity" data-cart_id="data_cart_id">+</button><button class="button" type="button" data-operation="dec" data-quantity="data_quanity" data-cart_id="data_cart_id">-</button><button type="button" data-operation="remove" data-quantity="data_quanity" data-cart_id="data_cart_id">REMOVE</button></div></div>').parent().show();
              if ( !$('#cart_popout .cart_content .content').is(':visible') ) {
                $('#cart_popout .cart_content').html('<div class="header_cart_prod"><div class="content"><p style="padding: 20px 0;">No items in cart.</p></div></div>').parent().show();
              }
            }
          //- });
        });

        $(document).click(function(e) {
          var target = e.target;
          if (!$(target).is('#cart_popout, .show_cart') && !$(target).parents().is('#cart_popout, .show_cart')) {
              $('#cart_popout').fadeOut(100);
          }
        });

      });
