extends  ./layout

block content
	.pageWrapper.checkoutPageWrapper.cartPageWrapper.shippingCheckoutPageWrapper.emailCheckoutPageWrapper.shippingCheckoutPageWrapper
		.row.content_width_1000
			.divider
				.emailFormWrapperCol.cartWrapperCol.col
					h1 CART
					p.status Order Summary
					section#cart
						.labelDataBox.orderSummaryDataBox
							ul.paymentScreenBagItems
								li
									.col.bagItemImg
										.col.item
											img(src='/img/kaws_wood.jpg')
										.col.item_info
											.item_name
												.name KAWS PINOCCHIO WOOD
											//- 
												.item_quanity
													a.button.cartUpdate-btn(style='width:10%; margin: 0px; font-weight: bold') +
													a.remove(href='/cart/remove_product/<?=$cart->id?>') Remove

											.item_price $8,000.00
							.final_price
								p.price_bag
									b Subtotal
									| $8,000.00
								p.price_bag
									b Shipping
									| $0
								p.price_bag
									b Duty
									| $0
								.orderSummaryTotal
									p
										b Total
										| $8,000.00
			#forms.emailFormWrapperCol.shippingFormWrapperCol.col
				.divider.shipping
					h1 Billing Address
					h8.ship_statement Your order will be shipped to your billing address
					.emailFormWrapperCol.shippingFormWrapperCol.col
						form#email_form
							input#checkoutEmail.checkOutInput(placeholder='Email', type='email', name='email', maxlength='60', tabindex='1', value='Customer Email', required='')
							input(type='hidden', name='onepage', value='1')
						h8.form_statement
							| Please submit a valid email address so that we can keep you informed on the status of your order.
						form#delivery_form(autocomplete='off')
							input(type='hidden', name='onepage', value='1', autocomplete='false')
							input(type='hidden', name='shipping_is_billing', value='on')
							.form50
								input#checkoutFName.checkOutInput(value='Customer First Name', type='text', name='ship_first_name', maxlength='60', tabindex='1', required='', disabled)
							.form50
								input#checkoutLName.checkOutInput(value='Customer Last Name', type='text', name='ship_last_name', maxlength='60', tabindex='2', required='', disabled )
							.form50
								input#checkoutAddress1.checkOutInput(value='Customer Address 1', type='text', name='ship_address', maxlength='60', tabindex='4', required='', autocomplete='off', disabled )
							.form50
								input#checkoutAddress2.checkOutInput(value='Customer Address 2', type='text', name='ship_address2', maxlength='60', tabindex='4', required='', autocomplete='off', disabled )
							.form50
								input#checkoutCity.checkOutInput(value='Customer City', type='text', name='ship_city', maxlength='60', tabindex='6', required='', autocomplete='new-password', disabled )
							.form50
								input#checkoutCountry.checkOutInput(value='Customer Country', type='text', name='ship_country', maxlength='60', tabindex='6', required='', autocomplete='new-password', disabled )
							.form50
								input#checkoutState.checkOutInput(value='Customer State', type='text', name='ship_state', maxlength='60', tabindex='6', required='', autocomplete='new-password', disabled )
							.form50
								input#checkoutZip.checkOutInput(value='Customer Zip', type='text', name='ship_zip', maxlength='60', tabindex='6', required='', autocomplete='new-password', disabled )
							.form50
								input#checkoutPhone.checkOutInput(value='Customer Phone', type='text', name='ship_phone', maxlength='60', tabindex='6', required='', autocomplete='new-password', disabled )
							h8.phone_statement.ship_statement Provide a valid phone for UPS to contact you.
				.emailFormWrapperCol.shippingFormWrapperCol.paymentFormWrapperCol.col
					.divider
						form#bill(method='post', novalidate='')
							<h1>Billing & Payment</h1>
							.creditCardPaymentFormSection
								div(style='width: 97%')
									// <p for="cardUserName">Name on Card</p>
									input#cardUserName.card_name(placeholder='Name on Card', type='text', name='card_name', maxlength='60', required='')
								div(style='width: 97%')
									// <p for="ccnumber">Credit Card Number</p>
									.cardNumberInputWrapper
										input#ccnumber.card_num(placeholder='Credit Card Number', type='text', pattern='[0-9]*', name='cc_number', maxlength='16', required='')
										#creditCardIcons
											.media
								#no_margin.form50
									input#cc_type(type='hidden', name='cc_type')
									// <p for="checkoutPhone">Expires on</p>
									fieldset.selectUIWrapper.selectExpMonth
										select(style='margin-top: 8px;', name='cc_expiration_month', required='')
											option(value='January', option='') January
											option(value='Febraury', option='') February
										span.downArrowICon
											svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
												path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
												L-321,348.1z')
								.form50
									fieldset.selectUIWrapper.selectExpYear
										select(style='margin-top: 8px;', name='cc_expiration_year', required='')
											option(value='2018', option='') 2018
											option(value='2019', option='') 2019
										span.downArrowICon
											svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
												path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
												L-321,348.1z')
								div(style='width: 50%; position: relative; max-width: 200px;')
									p.secode(for='secCode', style='max-width: 200px; position: relative; width: 100%;')
										.cvv_help_box(style='display:inline-block')
											.trigger
												span.as_m ?
											.ccv_help_box
												p
												| For security reasons, please enter your card verification number (CVV) or card identification number (CID). Find this three-digit number on the back of your Visa, MasterCard and Discover cards in the signature area, or the four-digit number on the front of your American Express card, above the credit card number.
												span.ccv_tip_icons
													svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='384.5 10.7 201.9 58.3', enable-background='new 384.5 10.7 201.9 58.3', xml:space='preserve')
														g#cvv_1_
															g
																path(fill='#C3C3C3', d='M468.3,59.9c0,3.7-3,6.5-6.8,6.5h-67.9c-3.8,0-6.8-2.9-6.8-6.5V20.6c0-3.7,3-6.5,6.8-6.5h67.9\
																c3.8,0,6.8,2.9,6.8,6.5L468.3,59.9C468.3,59.9,468.3,59.9,468.3,59.9z')
																rect(x='386.8', y='22.3', fill='#222222', width='81.5', height='10.5')
																rect(x='393.2', y='38', fill='#FFFFFF', width='48.9', height='10.5')
																rect(x='397.1', y='41.9', fill='#222222', width='40.9', height='2.6')
																rect(x='449.8', y='38', fill='#FFFFFF', width='11.3', height='10.5')
																rect(x='451.1', y='41.9', fill='#222222', width='8.4', height='2.6')
																ellipse(fill='none', stroke='#FF0000', stroke-miterlimit='10', cx='455.4', cy='43.2', rx='10.6', ry='10.3')
													g#cvv-amex_1_
													g#cvv-amex
													g
													g
													path(fill='#5EC1EC', d='M586.4,59.7c0,3.8-3.1,6.7-7,6.7h-69.7c-3.9,0-7-3-7-6.7V19.4c0-3.8,3.1-6.7,7-6.7h69.7c3.9,0,7,3,7,6.7\
													V59.7z')
													g
													path(fill='#FFFFFF', d='M514.1,28.6l-0.4-1.6h-2.9l-0.4,1.6h-2.8l2.9-8.9h3.3l3.1,8.9H514.1z M513.1,25l-0.4-1.5\
													c-0.1-0.3-0.1-0.7-0.3-1.2c-0.1-0.5-0.3-0.9-0.3-1.1c0,0.3-0.1,0.5-0.3,1.1c-0.1,0.5-0.4,1.3-0.7,2.8L513.1,25L513.1,25z')
													path(fill='#FFFFFF', d='M521.7,28.6l-1.8-6.3l0,0c0.1,1.1,0.1,1.9,0.1,2.6v3.8h-2.2v-8.7h3.3l2,6.3l0,0l1.8-6.3h3.3v8.7h-2.2\
													v-3.8c0-0.1,0-0.4,0-0.7c0-0.3,0-0.8,0.1-1.7l0,0l-1.8,6.2H521.7L521.7,28.6z')
													path(fill='#FFFFFF', d='M535.4,28.6H530v-8.9h5.4v1.9h-2.9v1.3h2.8v1.9h-2.8v1.6h2.9L535.4,28.6L535.4,28.6z')
													path(fill='#FFFFFF', d='M545.3,28.6h-2.9l-1.8-2.8l-1.8,2.8H536L539,24l-2.9-4.3h2.8l1.7,2.7l1.5-2.7h2.8l-2.9,4.6L545.3,28.6z\
													')
													g
													path(fill='#FFFFFF', d='M514.1,28.6l-0.4-1.6h-2.9l-0.4,1.6h-2.8l2.9-8.9h3.3l3.1,8.9H514.1z M513.1,25l-0.4-1.5\
													c-0.1-0.3-0.1-0.7-0.3-1.2c-0.1-0.5-0.3-0.9-0.3-1.1c0,0.3-0.1,0.5-0.3,1.1c-0.1,0.5-0.4,1.3-0.7,2.8L513.1,25L513.1,25z')
													path(fill='#FFFFFF', d='M521.7,28.6l-1.8-6.3l0,0c0.1,1.1,0.1,1.9,0.1,2.6v3.8h-2.2v-8.7h3.3l2,6.3l0,0l1.8-6.3h3.3v8.7h-2.2\
													v-3.8c0-0.1,0-0.4,0-0.7c0-0.3,0-0.8,0.1-1.7l0,0l-1.8,6.2H521.7L521.7,28.6z')
													path(fill='#FFFFFF', d='M535.4,28.6H530v-8.9h5.4v1.9h-2.9v1.3h2.8v1.9h-2.8v1.6h2.9L535.4,28.6L535.4,28.6z')
													path(fill='#FFFFFF', d='M545.3,28.6h-2.9l-1.8-2.8l-1.8,2.8H536L539,24l-2.9-4.3h2.8l1.7,2.7l1.5-2.7h2.8l-2.9,4.6L545.3,28.6z\
													')
													rect(x='507.5', y='43.9', display='none', fill='#FFFFFF', width='69.7', height='10.6')
													rect(x='513.4', y='47.9', fill='#222222', width='56.1', height='2.7')
													rect(x='565.3', y='31.4', fill='#FFFFFF', width='11.1', height='10.7')
													rect(x='566.7', y='35.4', fill='#222222', width='8.4', height='2.7')
													ellipse(fill='none', stroke='#FF0000', stroke-miterlimit='10', cx='570.8', cy='36.8', rx='10.9', ry='10.5')
									input#secCode.card_cvv(style='max-width: 200px;', type='text', name='cc_ccv', placeholder='Security Code', maxlength='4', tabindex='4', required='')

								div
									p.form_statement(for='agree_to_terms', style='max-width: 240px; position: relative; width: 100%;')
										| You must agree to the 
										a(onclick="$('#terms').click()") Terms of Service
										|  to checkout.
									input#agreeTerms(type='checkbox', name='agree_to_terms' style='height: 20px; position: relative; top: 5px;')
								.row.secondaryFocus
									.right_float.total_costs
										input#creditCardPayBtn.button(type='submit', value='Place Order', disabled='')
										.total_cost.orderSummaryTotal
											p(style='font-size: 16px;') 
												b Total
											| $8,000.00






