extends  ./layout

block content
    section.content_holder.doll
        .figures(style="background-image: url('/img/kaws_wood.jpg');")
        .figure_info
            h1 KAWS PINOCCHIO 
            p.text 2017
            p.text Edition of 100
            p.text Signed and numbered
            p.text Made of wood by Karimoku
            p.text © Disney
            p.text 15.35 x 7.48 x 7.09 inches
            .thumbnails

                a(href='')
                    img.selected(src='/img/kaws_wood.jpg')
                a(href='')
                    img(src='/img/kaws_wood2.jpg')
                a(href='')
                    img(src='/img/kaws_wood3.jpg')
            p.price $8,000.00 
            //- 
                p.lotto_confirm
                    | You have already signed up! You will be notified if you're selected as a winner.
                a.keep_shopping.button(href='/') KEEP SHOPPING
            if true
              if 'avalibility' == 1
                //- CHANGE STATUS TO SOLD OUT
                p.status SOLD OUT
              else if 'usermaxout' == 1
                //- USER MAXS OUT
                p.status
                | You can't purhase more than x amount at once
              else
                a.addToCart.mainProd(href='/payment', data-product_id='')
                button.button Add to Cart
              a.keep_shopping.button(href='/') KEEP SHOPPING
            else
              if state == 'post'
                  p.text_sm.disclaimer Sale closed
                      p.lotto_confirm
                          | All entrants will be contacted regarding the status of their submission. Please refer to the terms for more information.
              else if !allow_lottery
                  p.lotto_confirm
                    | All entrants will be contacted regarding the status of their submission. Please refer to the terms for more information.
              else
                  p.text_sm(style='margin-bottom: 0;') plus shipping, handling and applicable taxes
                  p.text_sm.disclaimer Available through a random drawing in the US
                  button#lotto_button.button SIGN UP FOR A 
                    br
                    | CHANCE TO PURCHASE
                  
                  section.lotto.popup
                    .overlay
                      .off_overlay
                      .overlay_content
                        .overlay_text
                          h1.overlay_head1 Submit your information
                          p.overlay_head Sign up here for the opportunity to purchase for $8,000.00!
                          // <form action="/lottery/signup" method="POST" id='lotto_form'>
                          form#lotto_form(method="POST")
                            input(type='hidden', name='product_id', value=product_id)
                            .form-group
                              label First Name
                              input(type='text', name='first_name', placeholder='first name', required='')
                            .form-group
                              label Last Name
                              input(type='text', name='last_name', placeholder='last name', required='')
                            .form-group
                              label Email
                              input(type='text', name='email', placeholder='email', required='' maxlength="60" )
                            .form-group
                              label Phone
                              input(type='number', name='phone', placeholder='phone', required='')
                            .form-group
                              label Address 1
                              input.checkOutInput(type='text', name='address', placeholder='Address 1' required='')
                            .form-group
                              label Address 2
                              input.checkOutInput(type='text', name='address2', placeholder='Address 2 (optional)')
                            .form-group
                              label Zip
                              input.checkOutInput(type='text', name='zip', placeholder='Zip', required='')
                            .form-group
                              label City
                              input.checkOutInput(type='text', name='city', placeholder='City', required='')
                            .form-group
                              label Country
                              .select_holder
                                  input(value='United States' readonly='' name='country')
                            .form-group
                              label State
                                .select_holder
                                  select.select_tag(name="state" required='')
                                      each state,code in functions.states()
                                          option(value=code)= state
                                  span.downArrowICon
                                    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-334 336 26.4 16.1', enable-background='new -334 336 26.4 16.1', xml:space='preserve')
                                      path(stroke='#000000', stroke-width='0.85', stroke-miterlimit='10', d='M-321,348.1l-10.6-11.1l-1.4,1.4l12,12.6l12-12.6l-1.4-1.4\
                                      L-321,348.1z')
      
                            .verify_terms
                                input#checkBox(type='checkbox' name='terms')
                                p.text
                                  | Please verify you read the 
                                  span.terms_click terms and conditions
                                  |  before signing up
      
                            input.button.disabled#btnLotterySubmit(type='button', value='Enter', disabled)
                  //- a.keep_shopping.button(href='/') KEEP SHOPPING
          
    
    
