extends  ./layout

block content
	if data === null 
		section
			div Order not found
	if data
		//- p #{JSON.stringify(data)}
		section.container.order_conf
			h1 Order Summary
			.order_details
				.PrintOnly
				.col-sm-24.col-md-24
					h3.order_date
						span
						| #
						| #{data.id}
						| - 
						span.date #{JSON.stringify(data.insert_time)}
					br
					p
						| We have received your order. Please allow 5-7 business days for order processing and verification.
						br
						| You will receive a tracking number prior to shipping, please allow an additional 7-10 business days for delivery.
					h2 Shipping to...
					table
						tr
							td
								strong Name:
							td #{ data.ship_first_name + " " + data.ship_last_name }
						tr
							td
								strong Address:
							td 
								| #{ data.ship_address }
								br
								| #{ data.ship_city + ", " + data.ship_state + ". " + data.ship_zip + " " + data.ship_country }
						tr
							td
								strong Country:
							td #{ data.ship_country }
						tr
							td
								strong Email:
							td #{ data.email }
						tr
							td
								strong Phone:
							td #{ data.phone }
						tr
							td
								strong Status:
							td #{ data.status }
						tr
							td
								strong Tracking Number:
							td
								a(href='https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=<?= $model->order->tracking_number?>', target='_blank') #{ data.tracking_number }
					.return_form
						button.button CONTACT US
						form#ticket
							.modal_formWrapper.contact
								h2 Send us an email about your order
								.inputRow
									label Name
									input(name='name', type='text', required='')
								.inputRow
									label Email Address
									input(name='email', type='email', required='')
									input(name='orderID', type='hidden', value='<?=$model->order->id?>')
								.inputRow
									label Subject
									.custom-select(style='width:200px;')
										select
											option(value='0') Select an option:
											option(value='1') Billing
											option(value='2') Other
											option(value='3') Shipping / Tracking

								.inputRow
									label Message
									textarea(name='message', required='')
									button.button(type='submit') Send
									br
									p Thank you for your patience

					.order_products_flex
						.col-md-24.ordered_products
							h4
							.col-sm-4.col-md-4.order_image
								a(href="product/product-slug")
									img(src='/img/kaws_wood.jpg')
									
							a(href="product/product-slug")
								p
								| Item Name (
								| Color )
							p
							| Quantity:
							| 0-3
					.col-md-24.order_summary.table-responsive
						h3 Payment Summary
						table.table
							tr
								td
									strong SubTotal:
								td
									| $
									| 299.99
								//- | order->coupon_code)){
								//- |         if ($model->order->coupon_type == 1){
								//- |         $savings = $model->order->coupon_amount;
								//- |         } else if ($model->order->coupon_type == 2){
								//- |         $savings = $model->order->subtotal * $model->order->coupon_amount/100;
								//- |         }
								//- |         ?>
							tr
								td 
									strong Savings:
								td
									| $
									| 0
							tr
								td
									strong Shipping:
								td
									| $
									| 0.00
							tr
								td
									strong Tax:
								td
									| $
									| 0.00
							tr
								td
									strong Duty & Taxes:
								td
									| $
									| 0.00
							tr
								td
									b Total:
								td
									| $
									| 299.99


	script(src='//code.jquery.com/jquery-1.11.3.min.js')
	script(type='text/javascript').
		$(document).ready(function(){
			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
			var dateObj = new Date($('.date').html().substring(1, 11));
			var month = dateObj.getMonth() + 1; //months from 1-12
			var day = dateObj.getUTCDate();
			var year = dateObj.getUTCFullYear();

			newdate = monthNames[dateObj.getMonth()] + " " + day + " " + year;
			$('.date').html(newdate);


			//- select tag
			var x, i, j, selElmnt, a, b, c;
			/*look for any elements with the class "custom-select":*/
			x = document.getElementsByClassName("custom-select");
			for (i = 0; i < x.length; i++) {
			  selElmnt = x[i].getElementsByTagName("select")[0];
			  /*for each element, create a new DIV that will act as the selected item:*/
			  a = document.createElement("DIV");
			  a.setAttribute("class", "select-selected");
			  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
			  x[i].appendChild(a);
			  /*for each element, create a new DIV that will contain the option list:*/
			  b = document.createElement("DIV");
			  b.setAttribute("class", "select-items select-hide");
			  for (j = 1; j < selElmnt.length; j++) {
			    /*for each option in the original select element,
			    create a new DIV that will act as an option item:*/
			    c = document.createElement("DIV");
			    c.innerHTML = selElmnt.options[j].innerHTML;
			    c.addEventListener("click", function(e) {
			        /*when an item is clicked, update the original select box,
			        and the selected item:*/
			        var y, i, k, s, h;
			        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
			        h = this.parentNode.previousSibling;
			        for (i = 0; i < s.length; i++) {
			          if (s.options[i].innerHTML == this.innerHTML) {
			            s.selectedIndex = i;
			            h.innerHTML = this.innerHTML;
			            y = this.parentNode.getElementsByClassName("same-as-selected");
			            for (k = 0; k < y.length; k++) {
			              y[k].removeAttribute("class");
			            }
			            this.setAttribute("class", "same-as-selected");
			            break;
			          }
			        }
			        h.click();
			    });
			    b.appendChild(c);
			  }
			  x[i].appendChild(b);
			  a.addEventListener("click", function(e) {
			      /*when the select box is clicked, close any other select boxes,
			      and open/close the current select box:*/
			      e.stopPropagation();
			      closeAllSelect(this);
			      this.nextSibling.classList.toggle("select-hide");
			      this.classList.toggle("select-arrow-active");
			  });
			}
			function closeAllSelect(elmnt) {
			  /*a function that will close all select boxes in the document,
			  except the current select box:*/
			  var x, y, i, arrNo = [];
			  x = document.getElementsByClassName("select-items");
			  y = document.getElementsByClassName("select-selected");
			  for (i = 0; i < y.length; i++) {
			    if (elmnt == y[i]) {
			      arrNo.push(i)
			    } else {
			      y[i].classList.remove("select-arrow-active");
			    }
			  }
			  for (i = 0; i < x.length; i++) {
			    if (arrNo.indexOf(i)) {
			      x[i].classList.add("select-hide");
			    }
			  }
			}
			/*if the user clicks anywhere outside the select box,
			then close all select boxes:*/
			document.addEventListener("click", closeAllSelect);
		});
		
